/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 1.7;
    padding: 30px;
}

.header{
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),url("../img/hero.jpg");
    height: 95vh;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
    position: relative;
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heading-primary{
    text-transform: uppercase;
    color: #fff;
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17px;
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px) rotate(-50deg);
    }
    60%{
        transform: rotate(180deg);
    }
    80%{
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.btn:active{
    transform: translateY(-1px);
}

.btn-white{
    background-color: #ffffff;
    color: #777;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
    z-index: -1;
}

.btn-white::after{
    background-color: #ffffff;
}

.btn:hover::after{
    
    opacity: 0;
}

.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
